body {
  margin:0;
}
.App {
  margin:50px;
 
}
a {
  color:#333;
  
}

a:hover {
  font-size:1.2em;
}
.welcome {
  height:1000px;
  margin:0;
  background-image: url('https://images4.alphacoders.com/600/thumb-1920-600528.png');
  background-size: cover;
}

.welcome h1 {
  margin:0;
}
.welcomeMsg {
  padding-top:150px;
  color:white;
  font-weight:bold;
  font-size:2em;
  margin:20px auto;
  width:1000px;
  height:300px;
  background-color:black;
  opacity:50%;
}
ul {
  text-align:left;

}
.welcome button {
  background-color:gold;
  border-radius:30px;
  border:none;
  font-size:2em;
  font-weight:bold;
  padding:20px 50px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.welcome button:hover {
  background-color:whitesmoke;
  color:gold;
  border:2px solid gold;
}
 
li {
  list-style-type: none;
}

.infoButton {
  border:none;
  cursor:pointer;
  background-color:gold;
  border-radius:20px;
  font-size:1.5em;
  color:black;
  padding:10px 20px;
}
.infoButton:hover {
  background-color:white;
  border:2px solid gold;
}
.wholePage {
 
  text-align: center;
  padding:30px;
}
.container{
  border:2px solid whitesmoke;
  display:grid;
  
  grid-template-columns: 1fr 2fr;
  border-radius:30px;
  padding:30px;
}
main {
 
  padding:30px;
}

.container img {
  width:800px;
  height:700px;
  border-radius:50px;
  padding-top:30px;
  object-fit:cover;
  
  
}
.containerInfo {
  color:#333;
  background-color:whitesmoke;
  border:2px solid whitesmoke;
  padding:30px;
  border-radius:30px;
  display:grid;
  grid-template-columns: 2fr 1fr;
}
.containerInfo img {
 width:95%;
  border-radius:30px;
}

.containerInfo h2 {
  padding-bottom:10px;
  border-bottom:2px solid white;
  
}

footer {
  margin-top:2%;
  text-align: center;
  height:100px;
}

/* .container {
  display:flex;
  align-items:center;
 
} */
 
.container header {
 
  background-color:white;
  border-radius:20px;
  padding:10px;
  color:#333;
}
.container p {
  font-size:1.2em;
  padding:10px;
}
 
.container li {
  padding:5px;
}
.lore {
  font-size:1.2em;
}
.container section {
  border:2px solid white;
  border-radius:30px;
  margin-top:10px;
  padding:10px;
}
.bar {
  width:80px;
  padding:5px;
  border:2px solid #333;
  border-radius:30px;
  
}
.statGrid2 {
  background-color: white;
  border-radius:30px;
}
.statGrid2 h2 {
  margin:0;
  border-bottom:2px solid whitesmoke;
}

 
 
.statGrid {
  
  padding:50px 0px;
  background-color:white;
  margin:20px 0px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  border-radius:30px;
  
 
}
.regionHead {
  text-align:center;
  border:2px solid whitesmoke;
  padding:10px 20px;
}
.regionDivs {
 
  
  text-align:center;
}
.regionContainer { 
  position: relative;
  text-align: center;
  color: white;
}
.regionImg {
  width:100%;
  height:80%;
  object-fit: cover;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.regionImg:hover {
  opacity:90%;
}

.regionContainer a {
  color:white;
}