body {
  margin:0;
}
@media only screen and (max-width: 700px) {
  .statGrid{
    display:none;
  }

  .statGrid2 {
    display:none;
  }
  .bar {
    display:none;
  }
  .container {
    padding:0;
  }
  .containerInfo {
    display:block;
    padding:0;
  }
  .regionImg {
    width:10%;
  }
  .regionLore {
   display:none;
  }
  .regionChampList {
    display:flex;
    flex-wrap: wrap;
  }
  .containerInfo img {
    display:none;
  }
  .spells{
    display:none;
  }
}
.App {
  margin:50px;
 
 
}
a {
  color:#333;
  
}
#search {
  display:flex;
  justify-content: space-evenly;
}
 input {
   width:200px;
   margin-left:20px;
   padding:10px;
   border-radius:30px;
   border:2px solid whitesmoke;
 }

a:hover {
  font-size:1.2em;
}
.welcome {
  height:1000px;
  margin:0;
  background-image: url('https://images4.alphacoders.com/600/thumb-1920-600528.png');
  background-size: cover;
  border-radius:50px;
  text-align:center;
}
button {
  box-shadow: 5px 10px 18px #888888;
  border:3px solid #333;
}
.welcome h1 {
  font-size:3em;
  font-family: sans-serif;
  color:whitesmoke;

  text-align:center;
  padding:60px 0px;
  margin-top:0;
}
.welcomeMsg {
  border-radius:30px;
  text-align:center;
  padding:20px;
  color:white;
  font-weight:bold;
  font-size:2em;
  margin:20px auto;
  width:1000px;
  height:300px;
  background-color:black;
  opacity:50%;
}
ul {
  text-align:left;

}
.welcome button {
  
  background-color:gold;
  border-radius:30px;
  border:3px solid #333;
  font-size:2em;
  font-weight:bold;
  margin-top:30px;
  padding:20px 50px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.welcome button:hover {
  background-color:whitesmoke;
  color:gold;
  border:2px solid gold;
}
 
li {
  list-style-type: none;
}
.errorPage {

  background-image: url("https://thumbs.gfycat.com/AlarmingGrotesqueChipmunk-size_restricted.gif");
  background-size: cover;
  border-radius:50px;
}
 
.error {
  opacity:80%;
  text-align:center;
  background-color:whitesmoke;
  padding:30px 20px 100px 20px;
  width:70%;
  margin:auto;
  border-radius:30px;
   
}
.error h1 {
  border-bottom:2px solid white;
  padding-bottom: 20px;
}
#red {
  color:palevioletred;
}
.infoButton {
  border:none;
  cursor:pointer;
  background-color:tan;
  border-radius:20px;
  font-size:1.5em;
  color:black;
  padding:10px 20px;
}
.infoButton:hover {
  background-color:white;
  border:2px solid gold;
}
#exploreButton {
  background-color:#FACB5B;
}
#exploreButton:hover {
  background-color: white;
}
.wholePage {
 
  text-align: center;
  padding:30px;
  box-shadow: 5px 10px 18px #888888;
  border-radius:30px;
}
.container{
  border:2px solid whitesmoke;
  display:grid;
 
  grid-template-columns: 2fr 1fr;
  border-radius:30px;
  padding:30px;
}
main {
 
  padding:30px;
}

.container img {
  width:90%;
  height:90%;
  border-radius:70px;
  padding-top:30px;
  object-fit:cover;
  
  
}
.containerInfo {
  color:#333;
  background-color:whitesmoke;
  border:2px solid whitesmoke;
  padding:30px;
  border-radius:30px;
  display:grid;
  grid-template-columns: 2fr 1fr;
  box-shadow:5px 10px 18px #888888;
}
.containerInfo img {
 width:95%;
  border-radius:30px;
}

.containerInfo h2 {
  padding-bottom:15px;
  border-bottom:2px solid white;
  
}

footer {
  margin-top:2%;
  text-align: center;
  height:100px;
}
footer a {
 
  border-radius:30px;
  padding:10px;
  margin:10px;
}

/* .container {
  display:flex;
  align-items:center;
 
} */
 
.container header {
 
  background-color:white;
  border-radius:20px;
  padding:10px;
  color:#333;
}
.container p {
  font-size:1.2em;
  padding:10px;
}
 
.container li {
  padding:5px;
}
.lore {
  font-size:1.2em;
  line-height: 1.6;
 
 
}
.container section {
  border:2px solid white;
  border-radius:30px;
  margin-top:10px;
  padding:10px;
}
.bar {
  width:80px;
  padding:5px;
  border:2px solid #333;
  border-radius:30px;
  
}
.statGrid2 {
  background-color: white;
  border-radius:30px;
}
.statGrid2 h2 {
  margin:0;
  border-bottom:2px solid whitesmoke;
}

 
 
.statGrid {
  
  padding:50px 0px;
  background-color:white;
  margin:20px 0px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  border-radius:30px;
   
  
 
}
.regionWholeContainer {
  background-color:whitesmoke;
  padding:50px;
  border-radius:30px;
}
.regionHead {
 
  text-align:center;
  background-color:#333;
  border-radius: 30px;
  color:white;
  padding:50px 20px;
  box-shadow:5px 10px 18px #888888;


 
}
.teemoIcon {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.regionDivs {
 
  
  text-align:center;
}
.regionContainer { 
  position: relative;
  text-align: center;
  color: white;
  
  
}
.regionImg {
  border-radius:30px;
  width:100%;
  height:100%;
  min-height:700px;
  max-height:700px;
  object-fit: cover;
  box-shadow:5px 10px 18px #888888;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.regionImg:hover {
  opacity:90%;
}

.regionContainer a {
  color:white;
}

.regionInfo {
  background-color:whitesmoke;
  color:#333;
  display:grid;
  grid-template-rows: 1fr 1fr;
  margin:0;
  border:3px solid whitesmoke;
  text-align:center;
  padding:30px 50px;
  border-radius:30px;
  box-shadow:5px 10px 18px #888888;
}
 
.regionList ul {
 
  display:flex; 
  flex-direction:row;
  justify-content: space-around;
  
 
}

.regionLore {
  margin-top:0;
  padding:10px 100px;
  font-size:1.3em;
  line-height:170%;
  border:2px solid white;
  border-radius:30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
  
 
}

#letterLore {
  font-weight:bold;
  display:inline;
  font-size:2em;
  border:3px solid #333;
  padding:10px;
  margin-bottom:100px;
  margin-left:50px;
  margin-right:10px; 
   
  
}

 
#champRegionName {
  text-align:center;
  color:#f2d53c;
   

  
}
#champRegionName:hover {
  color:#333;
}
#regionChampions {
  padding-bottom:10px;
  border-bottom:2px solid white;
 
}
.champRegionListItem {
  border:2px solid #dcdcdc;
  padding:20px;
  
  border-radius:30px;
}
.champRegionListItem img {
  border-radius:40px;
}
.champRegionListItem:hover {
 
  font-size:2em;
  box-shadow:5px 10px 18px #888888;
  opacity:90%;
}
.regionImg {
  border-radius: 30px;
  width:100%;
  height:70%;
}